<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIFE</title>
</head>
<body>
    <h1>IIFE style</h1>
    <p>This is iife style of writing web server</p>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias laborum minima et? Nemo eum officia ea iusto qui? Atque quia eveniet id harum, eius ut similique praesentium tempora ipsam inventore veniam cum laudantium quod fugiat deserunt accusantium non repellendus officiis ratione facilis dolore voluptatibus perferendis excepturi. Nihil voluptas numquam quisquam. Id corporis libero optio esse quis, at, itaque enim facilis quae adipisci perspiciatis rem quam non architecto laboriosam eos aut ab in iste, debitis hic dolore! Nam officiis ducimus incidunt reiciendis similique iusto optio. Expedita alias quod eius nulla aperiam!</p>
    </div>
</body>
</html>